@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  color: white;
  background: transparent 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
